.liClass{
	/*outline: 1px solid black;*/
	width: 10vw;
	list-style-type: none;
	padding: 1vw 2vh;
	margin-top: 1vh;
	border: 1px solid black;
	border-radius: 3px;
	margin-left: -2.5vw;
}

.rep_input{
	/*outline: 1px solid red;*/
	margin-top: 0.3vh;
}

.add_exercise_button{
	outline: 1px solid black;
	padding: 0.25vw 0.5vh;
}