.rep_input{
	/*outline: 1px solid red;*/
	margin-top: 0.3vh;
}

.add_exercise_button{
	/*outline: 1px solid black;*/
	margin-top: 3vh !important;
}

.exercise_input{
	/*outline: 1px solid black;*/
}

#exerciseList{
	text-align: center;
}