.text-align-center{
	text-align: center !important;
}

.margin-top-1vh{
	margin-top: 1vh !important;
}

.margin-top-2vh{
	margin-top: 2vh !important;
}

.margin-top-3vh{
	margin-top: 3vh !important;
}

.margin-top-4vh{
	margin-top: 4vh !important;
}

.margin-top-5vh{
	margin-top: 5vh !important;
}

.margin-top-10vh{
	margin-top: 10vh !important;
}

.margin-top-20vh{
	margin-top: 20vh !important;
}

.margin-top-15vh{
	margin-top: 15vh !important;
}

.margin-bottom-5vh{
	margin-bottom: 5vh !important;
}

.workout_choice{
	border: 1px solid #dededf;
	border-radius: 4px;
	width: 20vw;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	position: absolute;

	margin-left: 61vw;
	margin-top: -2.6vh;
}

.width-50{
	width: 50%;
}

.centered-width-50{
	width: 50%;
	margin-left: 25%;
}