.text-align-center{
	text-align: center !important;
}

.margin-top-5vh{
	margin-top: 5vh !important;
}

.margin-top-10vh{
	margin-top: 10vh !important;
}

.margin-top-15vh{
	margin-top: 15vh !important;
}

.margin-bottom-5vh{
	margin-bottom: 5vh !important;
}

.workout_choice{
	border: 1px solid #dededf;
	border-radius: 4px;
	width: 20vw;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	position: absolute;

	margin-left: 61vw;
	margin-top: -2.6vh;
}